<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.advantagesoftwaregroup.hold_em_hotshots" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Hold'em Hotshots" android:icon="@drawable/icon"></application>
</manifest>